/**
*
* @author   Tom Lehmann
* @version  1.0
* 
*/

* {
	color: white;
	font-family: Calibri;
	font-size: 20px;
}
body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
	background-color: #e9e9e9;
	background-image: url("https://ultinetprint.informatik.hs-furtwangen.de/images/hfulogo1920_708.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}
form {
    padding: 20px;
}
input {
    color: #03b670;
	padding: 5px 10px;
}
option {
	color: #f8f8f8;
	padding-top: 5px;
	padding-bottom: 5px;
}
select {
	padding: 10px 5px;
	background-color: #aeaeae;
}
#navigation_bar a {
    text-decoration: none;
}
.right_value select {
    width: 80%;
}
.left_value {
    float: left;
	color: #f0f0f0;
}
.line {
	padding: 17px 35px;
	border-bottom: 1px solid #dedede;
}
.nav_item {
    display: inline-block;
	margin: 15px 30px 25px 30px;
	font-size: 23px;
	padding: 5px 10px;
	border: 1px solid #03b670;
	border-radius: 6px;
}
.nav_item:hover {
	border: 1px solid #fff;
}
.right_value {
    text-align: right;
}
#background {
	background-color: #c8c8c8;
	opacity: 0.98;
}
#back_to_login {
    padding: 20px;
    background-color: #03b670;
	border-radius: 0px 0px 8px 8px;
}
#content {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	border-radius: 8px 8px 8px 8px;
}
#input {
	float: right;
}
#img {
    height: 16px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
		    transition:         transform .8s ease-in-out;
}
#img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
#login_form {
	margin-left: 50px;
}
#logged_in {
    background-color: #03b670;
    padding: 20px;
	border-radius: 8px 8px 0px 0px;
}
#logout {
    padding: 20px;
    background-color: #03b670;
	margin-bottom: 100px;
	border-radius: 0px 0px 8px 8px;
}
#nav_printer, #nav_print, #nav_queue, #nav_users {
	border: 1px solid #fff;
	
}
#navigation_bar {
	text-align: center;
	background-color: #03b670;
}
#response {
    text-align: center;
    padding: 20px;
    background-color: #9b9999;
    margin-bottom: 20px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#title_img {
	float: right;
	height: 32px;
	margin-top: -6px;
	margin-bottom: -6px;
	position: relative;
}
