label {
    cursor: pointer;
}
label img {
    width: 16px;
    height: 16px;
	border-radius: 5px;
	padding: 5px;
	background-color: #bababa;
	margin-right: 5px;
}
label img:hover {
    background-color: #d4d4d4;
}
.delete {
	width: 150px;
}
.inline {
	display: inline-block;	
}
.inline.right {
    float: right;
	margin-right: 50px;
}
.level {
	width: 120px;
	text-align: center;
}
.row {
	float: left;
    width: 100%;
    margin: 10px;
}
.user_button {
	display: none;
}
#user_action {
	float: right;
	margin-right: 60px;
	text-align: center;
	width: 100px;
}
#email {
	min-width: 48%;
	margin-left: 50px;
}
#file_name {
	min-width: 45%;
	margin-left: 50px;
}
#active {
	width: 10px;
}
#level {
	width: 120px;
	text-align: center;
}
#print_time {
	width: 100px;
}
#priority {
	width: 150px;
}
#users {
	padding-top: 20px;
}
#user {
	width: 150px;
}