/**
*
* @author   Tom Lehmann
* @version  1.0
* 
*/

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 800px;
   height: 48px;
   background-color: #03b670;
   color: white;
   text-align: right;
   border-radius: 0px 8px 0px 0px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.printer_button {
    display: none;
}
.printer_button_img {
	width: 40px;
	height: 40px;
	border-radius: 0px;
	padding: 4px;
	margin-right: 0px;
	opacity: 0.87;
}
.printer_button_img:hover {
	opacity: 1;
}
.printer_button_img_right {
	margin-right: 15px;
}
#extruders {
    color: #dedede;
}
#next_print {
	padding:  10px 20px;
	position: fixed;
	left: 0;
	bottom: 0px;
}
#next_print_name {
	overflow: hidden;
	position: absolute;
	width: 500px;
}
#webcam_container {
    text-align: center;
    padding: 20px;
}
#printer_buttons {
	padding: 0px;
}
#printer_buttons_enabled {
	cursor: pointer;
}
#printer_buttons_disabled {
	cursor: not-allowed;
}
#switch {
	cursor: pointer;
}
#webcam_switch {
    display: none;
}