/**
*
* @author   Tom Lehmann
* @version  1.0
* 
*/

h1 {
    font-size: 30px;
}
li {
    padding: 5px 0px;
	list-style: url(../images/listpoint.png);
}

.error {
    font-weight: 800;
    border: 3px solid #03b670;
    text-align: center;
    padding: 30px;
    border-radius: 7px;
}

#email {
    width: 98%;
	text-align: center;
}
#password {
    width: 98%;
	text-align: center;
}
#confirmpwd {
    width: 98%;
	text-align: center;
}
#register {
    background-color: #c8c8c8;
	padding: 50px 120px 100px 120px;
	border-radius: 8px 8px 0px 0px;
}